body{
    justify-items: center;
    background-color: cadetblue

}
.box1{
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;

}


.group-from1{
    border: 2px solid black;
    padding: 10px;
    flex-wrap: wrap;
    width: 400px;
    margin: 1px;
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    
}
h1{
    color: rgb(72, 67, 67);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.box2{
     border: 2px solid black;
     margin-top: 20px;
     width: 500px;
    
     
}
button{
    width: 100%;
    border-radius: 3px;
    background-color: rgb(142, 94, 94);
    height: 31px;


}
td,th{
    border: 1px solid black;

}


